
@model WebApplication4.Models.LoanViewModel
        ViewBag.Title = "Index";}

<h2>Index</h2>

@using (Html.BeginForm("", "Loan", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    
}

