
@using System.Data.Entity
@model  WebApplication4.Models.LoanViewModel 
    

<h4>Apply for a new loan! :D</h4>
<hr />
<form method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
        </div>
    
        @Html.LabelFor(m => m.Month, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Month, new { @class = "form-control" })
        </div>
        <br/>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
        
    </div>

</form>





