@{
    ViewBag.Title = "Home Page";
}
@section Scripts {

    <script>

        function createUsers() {
            $.post('/Home/CreateUsers', { Count: 100 }, function (data) {
                if (data.success) {
                    console.log(data.value);
                }
                else {
                    console.log(data.message);
                }

            }).fail(function () {
                console.log("Something went wrong");
            });
        }

        $("#LoanButton").on("click", function (e) {

            $.post('/Home/CreateLoans', function (d) {
                console.log(d.count);
            });
        });


    </script>
}

<div class="jumbotron " style="color:#fff; text-align:center; background: url(/Media/kace-rodriguez-85845-compressor.jpg) no-repeat; background-size: cover;">
    @*<img src="~/Media/kace-rodriguez-85845-compressor.jpg" style="width:100%;" />*@
    <div class="container">
        <h2>P2PSystem - The OG</h2>
        <p class="lead">En marknadsplats för lån</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">The OG &raquo;</a></p>


        <div class="btn btn-danger" onclick="createUsers();"> Create Users </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-6">
        <h2>Invest on the go</h2>
        <p>Invest to make more from your moral while getting more from your money.</p>

        <div class="btn btn-success" id="LoanButton" >Loan account &raquo;</div>
        <a type="button" class="btn btn-lg btn-primary ">Start Investment</a>
                

    </div>
    <div class="col-xs-6">
      
        <h2>Loan on the go</h2>
        <p>Always be careful with borrowing and remember:<span style="font-weight: 800;"><br/>A Lannister always pays his debts!</span>
        </p>
        <div class="btn btn-warning" >Invest account &raquo;</div>
        <a type="button" class="btn btn-lg btn-primary " href="/Loan/Index">Apply for a Loan or Kill u self</a>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>